@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-nav {
  color: #ffffff;
  background-color:transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-right: 5px;
}

.btn-primary {
  background-color: #1DA1F2;
  color: #ffffff;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0e76a8;
}

.btn-secondary {
  background-color: #ff4500;
  color: #ffffff;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #d32e00;
}

.btn-gray {
  background-color: #808080;
  color: #ffffff;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-gray:hover {
  background-color: #666666;
}


.counter-container {
  border: 2px solid #808080; /* Adjust border color and width as needed */
  border-radius: 8px; /* Add border radius for rounded corners */
}
